Source: hiq-circuit
Section: python
Priority: optional
Maintainer: Damien Nguyen <damien1@huawei.com>
Build-Depends: debhelper-compat (= 12),
	       dh-python,
	       cmake,
	       python3-all,
	       python3-all-dev,
	       python3-setuptools,
	       libboost-all-dev,
	       libgflags-dev,
	       libgoogle-glog-dev,
	       libhwloc-dev,
	       libopenmpi-dev,
	       python3-hiq-projectq,
	       python3-mpi4py
Standards-Version: 4.3.0
Homepage: https://hiq.huaweicloud.com/en
X-Python3-Version: >= 3.5

Package: python3-hiq-circuit
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	 ${python3:Depends},
	 libboost-system1.71.0,
	 libboost-thread1.71.0,
	 libboost-mpi1.71.0,
	 libboost-program-options1.71.0,
	 libgflags2.2,
	 libgoogle-glog0v5,
	 libhwloc15,
	 libopenmpi3,
	 python3-hiq-projectq,
	 python3-mpi4py
Description: High performance distributed quantum simulator
 Huawei HiQsimulator
 This package installs the library for Python 3.
